---
/** Structure HTML Elementor d'origine — services.astro */
---

<!-- #masthead -->
<div class="site-content" id="content">
<div class="ast-container">
<div class="content-area primary" id="primary">
<main class="site-main" id="main">
<article class="post-147 page type-page status-publish ast-article-single" id="post-147" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">

<div class="entry-content clear" itemprop="text">
<div class="elementor elementor-147" data-elementor-id="147" data-elementor-type="site-page">
<div class="elementor-element elementor-element-90f8eb1 e-flex e-con-boxed e-con e-parent" data-element_type="container" data-id="90f8eb1" data-settings='{"background_background":"classic"}'>
<div class="e-con-inner">
<div class="elementor-element elementor-element-856adab e-con-full e-flex e-con e-child" data-element_type="container" data-id="856adab">
<div class="elementor-element elementor-element-f0277ab elementor-widget elementor-widget-hfe-infocard" data-element_type="widget" data-id="f0277ab" data-widget_type="hfe-infocard.default">
<div class="elementor-widget-container">
<div class="hfe-infocard">
<div class="hfe-infocard-title-wrap">
<h1 class="hfe-infocard-title elementor-inline-editing" data-elementor-inline-editing-toolbar="basic" data-elementor-setting-key="infocard_title">Nos Services</h1> </div>
<div class="hfe-infocard-text-wrap">
<div class="hfe-infocard-text elementor-inline-editing" data-elementor-inline-editing-toolbar="advanced" data-elementor-setting-key="infocard_description">
					C Chez Toit vous accompagne dans l’entretien, la rénovation et la protection de votre habitat. Toiture, façade, terrasse ou gouttières : nos solutions sont sur mesure, durables et garanties pour préserver la valeur de votre maison.				</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="elementor-element elementor-element-a3e087a e-flex e-con-boxed e-con e-parent" data-element_type="container" data-id="a3e087a" data-settings='{"background_background":"classic"}'>
<div class="e-con-inner">
<div class="elementor-element elementor-element-ec3017a e-con-full e-flex e-con e-child" data-element_type="container" data-id="ec3017a">
<div class="elementor-element elementor-element-8fa2138 elementor-view-default elementor-widget elementor-widget-icon" data-element_type="widget" data-id="8fa2138" data-widget_type="icon.default">
<div class="elementor-widget-container">
<div class="elementor-icon-wrapper">
<div class="elementor-icon">
<svg fill="none" height="8" viewbox="0 0 21 8" width="21" xmlns="http://www.w3.org/2000/svg"><path d="M7 0H13L6 8H0L7 0Z" fill="#E65644"></path><path d="M13 0H7L15 8H21L13 0Z" fill="#C95747"></path></svg> </div>
</div>
</div>
</div>
<div class="elementor-element elementor-element-5cda607 elementor-widget elementor-widget-heading" data-element_type="widget" data-id="5cda607" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-default">Nos Services de Toiture</h2> </div>
</div>
<div class="elementor-element elementor-element-a2b632e elementor-widget elementor-widget-text-editor" data-element_type="widget" data-id="a2b632e" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<p>Nous intervenons pour protéger, entretenir et valoriser vos toitures dans toute la Haute-Garonne. Du simple nettoyage à la rénovation complète, nos experts vous garantissent des prestations durables et de qualité.</p> </div>
</div>
<div class="elementor-element elementor-element-e44e363 e-flex e-con-boxed e-con e-child" data-element_type="container" data-id="e44e363">
<div class="e-con-inner">
<div class="elementor-element elementor-element-3744f6e e-con-full e-flex e-con e-child" data-element_type="container" data-id="3744f6e" data-settings='{"background_background":"classic"}'>
<div class="elementor-element elementor-element-86c8eaa elementor-widget elementor-widget-heading" data-element_type="widget" data-id="86c8eaa" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h6 class="elementor-heading-title elementor-size-default">01.</h6> </div>
</div>
<div class="elementor-element elementor-element-e3e520a elementor-widget elementor-widget-icon-box" data-element_type="widget" data-id="e3e520a" data-widget_type="icon-box.default">
<div class="elementor-widget-container">
<div class="elementor-icon-box-wrapper">
<div class="elementor-icon-box-content">
<h4 class="elementor-icon-box-title">
<span>
							Nettoyage de Terrasses &amp; Sols Extérieurs						</span>
</h4>
<p class="elementor-icon-box-description">
						Retrouvez la beauté et la sécurité de vos espaces de détente. Pierres, dallages ou bois : nous adaptons nos méthodes pour un résultat impeccable.					</p>
</div>
</div>
</div>
</div>
</div>
<div class="elementor-element elementor-element-ea62131 e-con-full e-flex e-con e-child" data-element_type="container" data-id="ea62131" data-settings='{"background_background":"classic"}'>
<div class="elementor-element elementor-element-2a372a4 elementor-widget elementor-widget-heading" data-element_type="widget" data-id="2a372a4" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h6 class="elementor-heading-title elementor-size-default">02.</h6> </div>
</div>
<div class="elementor-element elementor-element-beee14f elementor-widget elementor-widget-icon-box" data-element_type="widget" data-id="beee14f" data-widget_type="icon-box.default">
<div class="elementor-widget-container">
<div class="elementor-icon-box-wrapper">
<div class="elementor-icon-box-content">
<h4 class="elementor-icon-box-title">
<span>
							Réparation de Faîtage<br/><br/> </span>
</h4>
<p class="elementor-icon-box-description">
						Point sensible de la toiture, le faîtage assure l’étanchéité. Nous réalisons réparations, scellements ou pose de closoirs ventilés pour protéger durablement votre maison.					</p>
</div>
</div>
</div>
</div>
</div>
<div class="elementor-element elementor-element-c52d98a e-con-full e-flex e-con e-child" data-element_type="container" data-id="c52d98a" data-settings='{"background_background":"classic"}'>
<div class="elementor-element elementor-element-184c40c elementor-widget elementor-widget-heading" data-element_type="widget" data-id="184c40c" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h6 class="elementor-heading-title elementor-size-default">03.</h6> </div>
</div>
<div class="elementor-element elementor-element-7631d75 elementor-widget elementor-widget-icon-box" data-element_type="widget" data-id="7631d75" data-widget_type="icon-box.default">
<div class="elementor-widget-container">
<div class="elementor-icon-box-wrapper">
<div class="elementor-icon-box-content">
<h4 class="elementor-icon-box-title">
<span>
							Pose &amp; Entretien de Gouttières Aluminium / Zinguerie						</span>
</h4>
<p class="elementor-icon-box-description">
<p data-end="1468" data-start="1285">Installation, réparation et remplacement de gouttières en PVC, zinc ou aluminium. Nous réalisons aussi tous vos travaux de zinguerie pour une évacuation efficace des eaux pluviales.<br/></p> </p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="elementor-element elementor-element-d0e9800 e-con-full e-flex e-con e-child" data-element_type="container" data-id="d0e9800">
<div class="elementor-element elementor-element-0c4542e e-con-full e-flex e-con e-child" data-element_type="container" data-id="0c4542e" data-settings='{"background_background":"classic"}'>
<div class="elementor-element elementor-element-fe06484 elementor-widget elementor-widget-heading" data-element_type="widget" data-id="fe06484" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h6 class="elementor-heading-title elementor-size-default">04.</h6> </div>
</div>
<div class="elementor-element elementor-element-c6e4be6 elementor-widget elementor-widget-icon-box" data-element_type="widget" data-id="c6e4be6" data-widget_type="icon-box.default">
<div class="elementor-widget-container">
<div class="elementor-icon-box-wrapper">
<div class="elementor-icon-box-content">
<h4 class="elementor-icon-box-title">
<span>
							Nettoyage &amp; Démoussage de Toiture<br/> </span>
</h4>
<p class="elementor-icon-box-description">
						Élimination des mousses, lichens et salissures avec des méthodes douces. Application d’un traitement hydrofuge pour protéger et prolonger la durée de vie de votre toiture.					</p>
</div>
</div>
</div>
</div>
</div>
<div class="elementor-element elementor-element-e2708fb e-con-full e-flex e-con e-child" data-element_type="container" data-id="e2708fb" data-settings='{"background_background":"classic"}'>
<div class="elementor-element elementor-element-d084f1e elementor-widget elementor-widget-heading" data-element_type="widget" data-id="d084f1e" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h6 class="elementor-heading-title elementor-size-default">05.</h6> </div>
</div>
<div class="elementor-element elementor-element-089c0a7 elementor-widget elementor-widget-icon-box" data-element_type="widget" data-id="089c0a7" data-widget_type="icon-box.default">
<div class="elementor-widget-container">
<div class="elementor-icon-box-wrapper">
<div class="elementor-icon-box-content">
<h4 class="elementor-icon-box-title">
<span>
							Réparation &amp; Remplacement de Toiture						</span>
</h4>
<p class="elementor-icon-box-description">
						De la tuile cassée au remplacement complet, nous assurons des interventions rapides et durables. Votre couverture retrouve solidité, étanchéité et esthétisme.					</p>
</div>
</div>
</div>
</div>
</div>
<div class="elementor-element elementor-element-752dcd5 e-con-full e-flex e-con e-child" data-element_type="container" data-id="752dcd5" data-settings='{"background_background":"classic"}'>
<div class="elementor-element elementor-element-ebb48d2 elementor-widget elementor-widget-heading" data-element_type="widget" data-id="ebb48d2" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h6 class="elementor-heading-title elementor-size-default">06.</h6> </div>
</div>
<div class="elementor-element elementor-element-cafb30a elementor-widget elementor-widget-icon-box" data-element_type="widget" data-id="cafb30a" data-widget_type="icon-box.default">
<div class="elementor-widget-container">
<div class="elementor-icon-box-wrapper">
<div class="elementor-icon-box-content">
<h4 class="elementor-icon-box-title">
<span>
							Nettoyage &amp; Traitement de Façades<br/> </span>
</h4>
<p class="elementor-icon-box-description">
						Suppression des traces noires, algues et pollutions. Vos murs retrouvent éclat et uniformité grâce à des techniques respectueuses de vos matériaux.					</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="elementor-element elementor-element-719f4ed e-flex e-con-boxed e-con e-parent" data-element_type="container" data-id="719f4ed" data-settings='{"background_background":"classic"}'>
<div class="e-con-inner">
<div class="elementor-element elementor-element-3c8a6b2 e-con-full e-flex e-con e-child" data-element_type="container" data-id="3c8a6b2">
<div class="elementor-element elementor-element-9be849a elementor-widget elementor-widget-heading" data-element_type="widget" data-id="9be849a" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-default">Notre processus de travail</h2> </div>
</div>
<div class="elementor-element elementor-element-0676d34 e-flex e-con-boxed e-con e-child" data-element_type="container" data-id="0676d34">
<div class="e-con-inner">
<div class="elementor-element elementor-element-de2d6e8 e-con-full e-flex e-con e-child" data-element_type="container" data-id="de2d6e8">
<div class="elementor-element elementor-element-425ed33 elementor-widget-divider--view-line_text elementor-widget-divider--element-align-left elementor-widget elementor-widget-divider" data-element_type="widget" data-id="425ed33" data-widget_type="divider.default">
<div class="elementor-widget-container">
<div class="elementor-divider">
<span class="elementor-divider-separator">
<span class="elementor-divider__text elementor-divider__element">
				01.				</span>
</span>
</div>
</div>
</div>
<div class="elementor-element elementor-element-04e1b73 elementor-widget elementor-widget-heading" data-element_type="widget" data-id="04e1b73" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h4 class="elementor-heading-title elementor-size-default">Devis Gratuit</h4> </div>
</div>
<div class="elementor-element elementor-element-cede211 elementor-widget elementor-widget-text-editor" data-element_type="widget" data-id="cede211" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<p>Un devis clair et détaillé vous est proposé gratuitement, adapté à vos besoins.</p> </div>
</div>
</div>
<div class="elementor-element elementor-element-98c696a e-con-full e-flex e-con e-child" data-element_type="container" data-id="98c696a">
<div class="elementor-element elementor-element-6b8b6a7 elementor-widget-divider--view-line_text elementor-widget-divider--element-align-left elementor-widget elementor-widget-divider" data-element_type="widget" data-id="6b8b6a7" data-widget_type="divider.default">
<div class="elementor-widget-container">
<div class="elementor-divider">
<span class="elementor-divider-separator">
<span class="elementor-divider__text elementor-divider__element">
				02.				</span>
</span>
</div>
</div>
</div>
<div class="elementor-element elementor-element-1d35a3d elementor-widget elementor-widget-heading" data-element_type="widget" data-id="1d35a3d" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h4 class="elementor-heading-title elementor-size-default">Échange &amp; Validation</h4> </div>
</div>
<div class="elementor-element elementor-element-e5c0692 elementor-widget elementor-widget-text-editor" data-element_type="widget" data-id="e5c0692" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<p>Nous prenons le temps d’échanger avec vous. Après acceptation du devis, nous planifions l’intervention.</p> </div>
</div>
</div>
<div class="elementor-element elementor-element-f065185 e-con-full e-flex e-con e-child" data-element_type="container" data-id="f065185">
<div class="elementor-element elementor-element-7293cba elementor-widget-divider--view-line_text elementor-widget-divider--element-align-left elementor-widget elementor-widget-divider" data-element_type="widget" data-id="7293cba" data-widget_type="divider.default">
<div class="elementor-widget-container">
<div class="elementor-divider">
<span class="elementor-divider-separator">
<span class="elementor-divider__text elementor-divider__element">
				03.				</span>
</span>
</div>
</div>
</div>
<div class="elementor-element elementor-element-b46d7a6 elementor-widget elementor-widget-heading" data-element_type="widget" data-id="b46d7a6" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h4 class="elementor-heading-title elementor-size-default">Intervention</h4> </div>
</div>
<div class="elementor-element elementor-element-08f9bf9 elementor-widget elementor-widget-text-editor" data-element_type="widget" data-id="08f9bf9" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<p>Nos équipes réalisent les travaux avec soin, en respectant les délais et les normes de qualité.</p> </div>
</div>
</div>
<div class="elementor-element elementor-element-4a45c7e e-con-full e-flex e-con e-child" data-element_type="container" data-id="4a45c7e">
<div class="elementor-element elementor-element-a8d29fd elementor-widget-divider--view-line_text elementor-widget-divider--element-align-left elementor-widget elementor-widget-divider" data-element_type="widget" data-id="a8d29fd" data-widget_type="divider.default">
<div class="elementor-widget-container">
<div class="elementor-divider">
<span class="elementor-divider-separator">
<span class="elementor-divider__text elementor-divider__element">
				04.				</span>
</span>
</div>
</div>
</div>
<div class="elementor-element elementor-element-f6c0b62 elementor-widget elementor-widget-heading" data-element_type="widget" data-id="f6c0b62" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h4 class="elementor-heading-title elementor-size-default">Contrôle &amp; Satisfaction</h4> </div>
</div>
<div class="elementor-element elementor-element-8c197ba elementor-widget elementor-widget-text-editor" data-element_type="widget" data-id="8c197ba" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<p>Une vérification complète est effectuée à la fin du chantier pour garantir votre entière satisfaction</p> </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div><!-- .entry-content .clear -->
</article><!-- #post-## -->
</main><!-- #main -->
</div><!-- #primary -->
</div> <!-- ast-container -->
</div><!-- #content -->
